
<tbody> 
    <tr id="comment-<%= comment.id%>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="h-px w-px whitespace-nowrap">
            <a class="block h-full p-6">
                <div class="flex items-center gap-x-4">
                    <div>
                        <% if comment.user.status > 50 %>
                            <div class="flex w-full h-4 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700">
                                <div class="flex flex-col justify-center overflow-hidden bg-blue-500  text-xs text-white text-center" role="progressbar" style="width: <%= comment.user.status %>%; min-width: 10%;" aria-valuenow="<%= comment.user.status %>" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="ml-2"><%= comment.user.status %>%</div>
                        <% elsif comment.user.status > 30 %>
                            <div class="flex w-full h-4 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700">
                                <div class="flex flex-col justify-center overflow-hidden bg-yellow text-xs text-white text-center" role="progressbar" style="width: <%= comment.user.status %>%; min-width: 10%;" aria-valuenow="<%= comment.user.status %>" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="ml-2"><%= comment.user.status %>%</div>
                        <% else %>
                            <div class="flex w-full h-4 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700">
                                <div class="flex flex-col justify-center overflow-hidden bg-red text-xs text-white text-center" role="progressbar" style="width: <%= comment.user.status %>%; min-width: 10%;" aria-valuenow="<%= comment.user.status %>" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="ml-2"><%= comment.user.status %>%</div>
                        <% end %>
                        
                    </div>
                </div>
            </a>
        </td>
        <td class="h-px w-px whitespace-nowrap">
            <%= link_to user_path(comment.user), class: "block h-full p-6 flex items-center gap-x-3 hover:bg-gray-100" do %>
                <div class="flex items-center gap-x-3"> 
                    <% if comment.user.avatar.present? %>
                        <%= image_tag comment.user.avatar.url, class: "inline-block h-[2.375rem] w-[2.375rem] rounded-full"%>
                    <% elsif comment.user.image.present? %> 
                        <%= image_tag comment.user.image, class: "inline-block h-[2.375rem] w-[2.375rem] rounded-full" %>
                    <% else %>
                        <span class="inline-block h-[2.375rem] w-[2.375rem] bg-gray-100 rounded-full overflow-hidden">
                            <svg class="h-full w-full text-gray-300" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.62854" y="0.359985" width="15" height="15" rx="7.5" fill="white"/>
                                <path d="M8.12421 7.20374C9.21151 7.20374 10.093 6.32229 10.093 5.23499C10.093 4.14767 9.21151 3.26624 8.12421 3.26624C7.0369 3.26624 6.15546 4.14767 6.15546 5.23499C6.15546 6.32229 7.0369 7.20374 8.12421 7.20374Z" fill="currentColor"/>
                                <path d="M11.818 10.5975C10.2992 12.6412 7.42106 13.0631 5.37731 11.5537C5.01171 11.2818 4.69296 10.9631 4.42107 10.5975C4.28982 10.4006 4.27107 10.1475 4.37419 9.94123L4.51482 9.65059C4.84296 8.95684 5.53671 8.51624 6.30546 8.51624H9.95231C10.7023 8.51624 11.3867 8.94749 11.7242 9.62249L11.8742 9.93184C11.968 10.1475 11.9586 10.4006 11.818 10.5975Z" fill="currentColor"/>
                            </svg>
                        </span>
                    <% end %>
                    <div class="grow">
                        <span class="block text-sm font-semibold text-gray-800 dark:text-gray-200"><%= comment.user.name %></span>
                    </div>
                </div>
            <% end %>
        </td>

        <td scope="col" class="px-6 py-3 text-left">
            <div id="js-comment-<%= comment.id %>" class="flex items-center gap-x-2"> 
                <span class="dark:text-gray-200">
                    <%= simple_format(comment.content) %> 
                </span> 
            </div>
            <div id="js-textarea-comment-box-<%= comment.id %>" style="display: none;">
                <textarea id="js-textarea-comment-<%= comment.id %>" class="form-control mb-1"><%= comment.content %></textarea>
                <button class="btn btn-light js-button-edit-comment-cancel" data-comment-id="<%= comment.id %>">キャンセル</button>
                <button class="btn btn-success js-button-comment-update" data-comment-id="<%= comment.id %>">更新</button>
            </div>
        </td> 

        <td class="h-px w-px whitespace-nowrap">
            <% if current_user.own?(comment) %>
                <ul class="list-inline justify-content-center">
                    <li class="list-inline-item">
                        <a href="#" class='js-edit-comment-button' data-comment-id="<%= comment.id %>">
                            <%= icon 'fa', 'pen' %>
                        </a>
                    </li>  
                    <li class="list-inline-item">
                        <%= link_to comment_path(comment),
                                    class: 'js-delete-comment-button', 
                                    method: :delete, data: { confirm: "コメントを削除します" }, 
                                    remote: true do %>
                            <%= icon 'fas', 'trash' %>
                        <% end %>
                    </li>
                </ul>
            <% end %>
        </td>
    </tr> 
</tbody>


    
