
    <%= form_with model: [post, comment] do |form| %>
        <turbo-frame id="comment-form-frame">  
            <% comment.errors.full_messages.each do |message| %>
                <div class="alert alert-error bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <%= message %>
                </div>
            <% end %>
            
            <turbo-frame id="comments">  
                <div class="max-w-[85rem] mx-auto px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
                    <%= form.label :コメント, class: "font" %>
                    <%= form.text_area :content, id: 'js-new-comment-body', rows: 3, class: "mt-4 py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400", placeholder: "コメント入力" %>
                </div>
                
                <div class="flex items-center justify-center mt-5 gap-4">
                    <%= form.submit "投稿", class: "py-4 px-10 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-gray-600 text-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>
                    <%= link_to  @comment.post, class: 'py-4 px-10 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-yellow-500 text-white hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800' do %>
                        キャンセル
                    <% end %>
                </div>
            </turbo-frame>
            
        </turbo-frame>
    <% end %>










