<div data-controller="slider">
    <div class="swiper" data-slider-target="container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <%=image_tag "nav1.png" %>
            </div>
            <div class="swiper-slide">
                <%=image_tag "nav2.png" %>
            </div>
            <div class="swiper-slide">
                <%=image_tag "nav3.png" %>
            </div>
            <div class="swiper-slide">
                <%=image_tag "nav4.png" %>
            </div>
            <div class="swiper-slide">
                <%=image_tag "nav5.png" %>
            </div>
            <div class="swiper-slide">
                <%=image_tag "nav6.png" %>
            </div>
        </div>
        <div class="swiper-pagination" data-slider-target="pagination"></div>
        <div class="swiper-button-next" data-slider-target="prev"><i class="fa-solid fa-circle-chevron-right" style="color: #a1a5aa;"></i></div> 
        <div class="swiper-button-prev" data-slider-target="next"><i class="fa-solid fa-circle-chevron-left" style="color: #a1a5aa;"></i></div> 
    </div>
</div>

                    