
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col post px-6 py-4">
        <%= link_to channel_post_path(post), data: { turbo: false }, class: "block h-full p-6 flex items-center gap-x-3" do %>
            <span class="font-semibold text-brack dark:text-gray-200">
                <div id="messages" data-post-id="<%= post.id %>">
                    <%= post.content %>
                </div>
            </span>  
        <% end %>
        <div class="flex justify-between">
            <%= link_to user_path(post.user), class: "block h-full p-6 flex items-center gap-x-3",  data: { turbo: false } do %>
                <% if post.user.avatar.present? %>
                    <%= image_tag post.user.avatar.url, class: "inline-block w-10 h-10 rounded-full"%>
                <% elsif post.user.image.present? %> 
                    <%= image_tag post.user.image, class: "inline-block w-10 h-10 rounded-full"%>
                <% else %>
                    <%= image_tag 'sample.jpg', class: "inline-block w-10 h-10 rounded-full" %>
                <% end %>
                <div class="grow">
                    <span class="block text-sm font-semibold text-gray-800 dark:text-gray-200"><%= post.user.name %></span>
                </div>
            <% end %>
            <span class="text-sm text-gray-600 dark:text-gray-400"></span>
                <div class="flex items-center mr-4">
                    <% if current_user.own?(post) %>
                        <%= render 'crub_menu', post: post %>
                    <% end %>
                </div>
            </span>
            <div class="flex items-center mr-4">
                <%= render 'like_button', post: post %>
            </div>
        </div>
    </div>
    <div class="flex justify-between pt-4 pb-2">
        <%= link_to category_posts_path(category_id: post.category.id) do %>
            <span class="<%= translation_class_name(post.category.name) %> inline-flex items-center gap-1.5 py-2 px-2 rounded-full text-xs font-medium bg-green-100 text-black-800 dark:bg-green-900 dark:text-green-200 ml-6" style="color: black;">
                <%= post.category.name %>
            </span>
        <% end %>
        
        <%= link_to channel_post_path(post), data: { turbo: false }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mr-4" do %>
            トーク
        <% end %> 
    </div>
</div>
